{% extends 'mail/base_email.html' %}

{% block title %}{{ data.subject|default:"Network Maintenance" }}{% endblock %}

{% block content %}

    <p><b>Hello {{ data.subscriber.first_name }},</b></p>
    
    <p>
        This coming {{ data.maintenance_time|default:"soon" }} we will be performing maintenance on your network {{ data.location|default:"" }}.
        We estimate this maintenance could take {{ data.duration|default:"a few hours" }}.
        During this time you may experience brief moments of intermittent connectivity.
    </p>

    <p>We appreciate your patience and cooperation as we work to make your network better!</p>

    <p>Sincerely,<br />The Uprise Fiber Team</p>

{% endblock %}
