{% extends 'mail/base_email.html' %}

{% block title %}Uprise Fiber - Password Reset Request{% endblock %}

{% block content %}

    <p><b>Hello {{ data.subscriber.first_name }},</b></p>

    <p>Your password reset request was successfully processed. Please follow the link below to finish reseting your password.</p>

    <p><a href="{{ data.link }}">{{ data.link }}</a><br /><small>This link will expire in two hours.</small></p>

    <p>If you did not make this request, please contact us at 775-205-0222.</p>

    <p>Sincerely,<br />The Uprise Fiber Team</p>

{% endblock %}