{% extends 'mail/base_email.html' %}

{% block title %}Uprise Fiber - Wifi Credentials Updated{% endblock %}

{% block content %}

    <p>Hello {{ data.subscriber_name }},</p>
    
    <p>Your wifi credentials have been updated to the settings below. If you are having difficulty connecting please contact us via your <a href="https://uprisefiber.com/account/support">account support page</a> or via phone at 775-205-0222.</p>

    <p><strong>SSID (Wifi Name):</strong> {{ data.ssid1 }} (2.4Ghz)<br /><strong>SSID (Wifi Name):</strong> {{ data.ssid2 }} (5G)<br /><strong>Passkey (Wifi Password):</strong> {{ data.passkey }}</p>

    <p>For more information, please see our email sent February 14th (pasted below for reference).</p>

    <p>_________<br /><br /><small><em>Sent Tuesday, February 14th 2023 at 1:05pm</em></small><br /><br /></p>

    <p>Vineyards Residents,</p>

    <p>Beginning next week on Tuesday February 21st, we will be gradually transitioning our service model at your property to accommodate smart water flow meters being installed by Kromer Investments to monitor potential water leaks.</p>
    
    <p>Because these deices require a wireless internet connection all Vineyards residents will now a have a preset wireless network name and passkey. You will no longer be able to change your network name or passkey as doing so would disconnect the flow meters.</p>
    
    <p>We will be updating 4 buildings per week using the schedule below. They day before your network is updated, we will email you with your new wifi credentials.</p>
    
    <p>For those of you that have a mesh network, we may need to send a technician to remesh your routers after this update has been made.</p>
    
    <p>Buildings: 1-4 Tuesday 2/21<br />Buildings: 5-8 Tuesday 2/28<br />Buildings: 9-13 Tuesday 3/07<br />Buildings: 14-18 Tuesday 3/14<br />Buildings: 19-21 Tuesday 3/21<br />
    </p>
    
    <p>We apologize for any inconvenience this transition may cause.</p>
    
    <p>Thank You,<br />Uprise Fiber</p>

{% endblock %}
